{% extends 'base_pages.html' %}

{% block content %}
    <div class="container about-box">

        <h1 class="about-title">Oi, tudo bem?</h1>

        <p class='about-text'> 
            I'm Bruno, a brazilian self-taught web developer focused on backend.
            I am passionate about challenges, solve real-world problems and bring apps and websites to life.
            Always taking care of good practices and development standards, so as to create good documentation and
            to make my code easy to understand, scale and continue.
            I'd past last two years studing and working with Web Applications, bouth in server side as in the user site
            bouth in big companies helping with data management and improving a Django dashboard tha displays data from 
            costumes shipments and transactions as in small open-source teams to develop specific software as Safe Place
            and try to make the world a better place...
        </p>

{% endblock %}