{% extends "base_pages.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/language.css' %}"> 
{% endblock %}


{% block content %}

<div class="container language-container">

    <div class="row language-card">
        <div class="col-md-4 language-image">
            <img src="/mediafiles/python.jpg" alt="Python" width="200" height="200">
        </div>
        <div class="col-md-7 language-sub-box">
            <h3 class="language-title">Python</h3>
            <p class="language-text">
                Python is an interpreted, high-level and general-purpose programming language.

                Python's design philosophy emphasizes code readability with its notable use of significant indentation. 
                Its language constructs and object-oriented approach aim to help programmers write clear,
                logical code for small and large-scale projects.
                Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms,
                including structured (particularly, procedural), object-oriented and functional programming. 
                Python is often described as a "batteries included" language due to its comprehensive standard library.
             </p>
        </div>
    </div>

    <div class="row language-card">
        <div class="col-md-7 language-sub-box">
            <h3 class="language-title">JavaScript</h3>
            <p class="language-text">
                JavaScript is high-level, often just-in-time compiled, and multi-paradigm.

                Often abbreviated as JS, is a programming language that conforms to the ECMAScript specification.  
                It has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions. 
                Alongside HTML and CSS, JavaScript is one of the core technologies of the World Wide Web. 
                JavaScript enables interactive web pages and is an essential part of web applications.
                The vast majority of websites use it for client-side page behavior,
                and all major web browsers have a dedicated JavaScript engine to execute it.

                As a multi-paradigm language, JavaScript supports event-driven, functional, and imperative programming styles. 
                It has application programming interfaces (APIs) for working with text, dates, regular expressions,
                standard data structures, and the Document Object Model (DOM). 
            </p>
        </div>
        <div class="col-md-4 language-image">
            <img src="/mediafiles/JS.png" alt="JavaScript" width="200" height="200">
        </div>
    </div>

    <div class="row language-card">
        <div class="col-md-4 language-image">
            <img src="/mediafiles/sql.png" alt="Sequential Query Language" width="200" height="200">
        </div>
        <div class="col-md-7 language-sub-box">
            <h3 class="language-title">SQL</h3>
            <p class="language-text">
                Structured Query Language is a domain-specific language used in programming and designed for managing data 
            
                held in a relational database management system (RDBMS), 
                or for stream processing in a relational data stream management system (RDSMS).
                It is particularly useful in handling structured data.
            </p>
        </div>
    </div>

    <div class="row language-card">
        <div class="col-md-7 language-sub-box">
            <h3 class="language-title">HTML</h3>
            <p class="language-text">
                Hypertext Markup Language (HTML) is the standard markup language for documents designed to be displayed in a web browser. 
                It can be assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript. 
            </p>
        </div>
        <div class="col-md-4 language-image">
            <img src="/mediafiles/html.png" alt="Hypertext Markup Language" width="200" height="200">
        </div>
    </div>

    <div class="row language-card">
        <div class="col-md-4 language-image">
            <img src="/mediafiles/css.png" alt="Cascading Style Sheets" width="200" height="200">
        </div>
        <div class="col-md-7 language-sub-box">
            <h3 class="language-title">CSS</h3>
            <p class="language-text">
                Hypertext Markup Language (HTML) is the standard markup language for documents designed to be displayed in a web browser. 
                It can be assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript.  
            </p>
        </div>
    </div>

</div>

{% endblock %}


Python: 
           


    JavaScript: 
            

    
    SQL:    


    
    HTML:   
            

    
    CSS:    
