.language-container {
    margin-top: 3em;
    margin-left: 10em;
    margin-right: 8em;
}

.language-card {
    padding: 2em;
    margin-bottom: 3em;
    background-color: white;
    border-radius: 1%;
    max-width: 90%;
}

.language-image {
    margin: auto;
}

.language-sub-box {

}

.language-title {

}

.language-text {

}