{% extends 'blog/index.html' %}

{% block content_post %}

    {% for post in post_list %}

    <div class="post-container">
        <h2 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p class="meta">Postado em {{ post.post_date }}
            &nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">{{ post.category }}</a></p>
        <div class="entry"> <a href="#" class="image image-full"><img src="images/pics01.jpg" alt="" /></a>
            <p> {{ post.text_body|slice:300 }}... </p>
        </div>
        <div class="post-button">
            <button type="button" class="button">Leia Mais</button>
        </div>

        <hr  WIDTH=85% ALIGN=left NOSHADE>
    </div>

    {% endfor %}
{% endblock %}

{% block content_category %}

        {% for category in category_list %}
            <li><a href="#">{{ category.name }}</a></li>
        {% endfor %}

{% endblock %}