{% extends "base_pages.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/logon.css' %}">
{% endblock %}

{% block static %}
{% load static %}
<linK rel="stylesheet" href="{% static 'css/logon.css' %}">
{% endblock %}

{% block content %}
  <div class='container logon-container'>
    <div class="row">
      <div class="col-md-5">  
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if user.is_authenticated %}

        <h3>Hello {{ user.get_username }}</h3>

        <p>Thanks for logging in, now you can post in the Blog and create new NGO incidents.</p>
        
        <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
        
        <img src="/mediafiles/highfive.png" alt="high-five" width="350" height="400">
        {% else %}

        <section class="form">
          <h1> Login </h1>
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
              <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
              </tr>
              <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
              </tr>
            </table>
            <input class="button-login" type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
          {# Assumes you setup the password_reset view in your URLconf #}
          <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
          <p><a href="{% url 'signup' %}">I don't have a account</a></p>
        </section>

        {% endif %}
      </div>
        
      <div class="col-md-5 login-app-container">
        
        <a href="http://localhost:8000/hero">
          <div class="row login-app-button">
              
              <div class="col-md-5">  
                <img class="login-img-button" src='/mediafiles/logo_2mLetLB.svg' alt="Blog" width="100" height="100"/>
              </div>
              <div class="col-md-7">  
                <h3 class="job-title">Be The Hero</h3>
              </div>
          </div>
        </a>
          
        <a class="login-app-link" href="http://localhost:8000/blog">
          <div class="row login-app-button">
              
              <div class="col-md-5">  
                <img class="login-img-button" src='/mediafiles/blog.jpeg' alt="Blog" width="100" height="100"/>
              </div>
              <div class="col-md-7 job-title">  
                <h3>Django Blog</h3>
              </div>
          </div>
        </a>

        <a href="http://localhost:8000/blog">
          <div class="row login-app-button">
              
              <div class="col-md-5">  
                <img class="login-img-button" src='/mediafiles/safeplace.png' alt="Blog" width="100" height="100"/>
              </div>
              <div class="col-md-7">  
                <h3 class="job-title">Safe Place</h3>
              </div>
          </div>
        </a>

      </div>
                
    </div>

  </div>

{% endblock %}