{% extends "base.html" %}

{% block static %}
{% load static %}
<linK rel="stylesheet" href="{% static 'css/ngo_list.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    <link red="stylesheet" href="{% static 'js/jquery-3.3.1.slim.min.js' %}">

{% endblock %}

{% block content %}

<div class="container ngo-container">  

    <div class="row">
        <h2 class="col-md-5 ngo-list">NGO's List</h2>     
        <a class="button col-md-5" href="{% url 'hero:ngo-create' %}">New Incident</a></button>
    </div>

    {% if ngo_list %}
        <ul>
            {% for ngo in ngo_list %}
            <li class=" ngo-card col-md-5">
                <strong>NGO:</strong>
                <a href="{{ ngo.get_absolute_url }}">{{ ngo.name }}</a>
                <strong>Description:</strong>
                <p>({{ ngo.description }})</p> 
                <srong>Location</srong>
                <p>{{ ngo.city }} - {{ ngo.ur }}</p>



                <td><a href="url:delete_view" part.id><i class="fa fa-trash"></i></a></td>          
            </li>        

            {% endfor %}
        </ul> 
    {% else %}
        <p>There are no NGO's to list.</p>
    {% endif %}
{% endblock %}





    {% if incident_list %}

        <ul class="row">
            {% for incident in incident_list %}        
            
                <li class="col-md-5">
                    <strong>INCIDENT:</strong>
                    <a href="{{ incident.get_absolute_url }}">{{ incident.title }}</a>
                    <p>({{ incident.ngo }})</p> 
                    <srong>DESCRIPTION</srong>
                    <p>{{ incident.description }}</p>

                    <strong>VALUE:</strong>
                    <p>{{ incident.value }}</p>

                    <td><a href="url:delete_view" part.id><i class="fa fa-trash"></i></a></td>          
                </li>    

            {% endfor %}
        </ul>
       
    {% else %}
        <p>There are no incidets in the library.</p>
    {% endif %}
</div>