<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% block head-meta %}
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html; charset=utf-8">
  {% endblock %}

  {% block title %}
    <title>Authentication</title>
  {% endblock %}

  {% load static %}
  {% block style %}
    <link href="{% static 'static/main.css'%}" rel="stylesheet" type="text/css" media="all">
  {% endblock %}
</head>
<body>
  <main>
    <h1 class='homebase'>base</h1>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>