<DOCTYPE html>

<html>
<head>
    {% block title %}<title>hero</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Add addiitional CSS in static file -->
    
    {% load static %}
    <linK rel="stylesheet" href="{% static 'css/styles.css' %}">
    <linK rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block static %}
    
    {% endblock %}

</head>
<body>

    <div id="menu" class="header">

            <a href="" class="logo">   
                <img src='/mediafiles/logo_2mLetLB.svg' alt="Be The Hero" width="100" height="50"/>
            </a>

        <div class="header-right">

            <ul>
                <li><a href="{% url 'hero:index' %}" class="header-link">About</a></li>
                <li><a href="{% url 'hero:ngos' %}" class="header-link">NGOs</a></li>
                <li><a href="{% url 'hero:incidents' %}" class="header-link">Incidents</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                {% endif %}
            </ul>

        </div>
      
    </div> 

    <div class="container-fluid content-container">
        <div class="row">


                <div class="block-content">
                {% block content %}
                
                {% endblock %}
                </div>
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endblock %}

        </div>
    </div>
</body>
</html>