<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Hyacinth 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131010
-->

<html>
<head>

    {% block head-meta %}
         <meta charset="utf-8">
         <!-- Add here the kaywords that describe the project -->
         <meta name="keywords" content="portfolio, web dev, django">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    
    {% block title %}
        <title>Home</title>
    {% endblock %}


    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
    {% block style %}

    {% endblock %}
</head> 
<body>

    {% block header %}

    <div id="header-wrapper">
        
        <div id="header" class="container mmenu">
            <div id="logo">
                <h1><a href="{% url 'home:home' %}">Bruno Terres</a></h1>
                <span>A Full Stack Web Developer</span>
            </div>
        
            <div id="menu">
                <ul>
                    <li><a href="{% url 'home:tools' %}" accesskey="2" title="">Tools</a></li>
                    <li><a href="#experience" accesskey="3" title="">Experience</a></li>
                    <li><a href="{% url 'home:contact' %}" accesskey="3" title="" class="contact-btn">Contact</a></li>
                    <li><a href="{% url 'home:bio' %}" accesskey="4" title="">About</a></li>
                </ul>

            </div>
            <ul class="actions arrow-down">
                <a href="#go-to" class="icon"><img class="img-responsive contact-img"src="/mediafiles/down-arrow.svg" width="50px" height="50px" alt="whats app link"></a>                
            </ul>
        </div>

        <div id="go-to"></div>

        <div id="three-column" class="container">

            <div>
                <h2 id="welcome-to">Welcome to my site</h2>
                <p class="welcome-txt">Building web applications with technologies that take seriously some of the main challenges of industry 4.0</p>
                <p></p>
            </div>

            <div id="tbox1">
                <div class="icon icon-wrench atribute-img">
                    <img src='/mediafiles/lighting.svg' alt="Fast" width="100" height="100"/>
                </div>
                <div class="title">
                    <h2>Fast</h2>
                </div>
            </div>
            <div id="tbox2">
                <div class="icon icon-wrench atribute-img">
                    <img src='/mediafiles/cloud-computing.svg' alt="Cloud Computing" width="100" height="100"/>
                </div>
                <div class="title">
                    <h2>HIGHLY <br>AVAILABLE</h2>
                </div>
            </div>

            <div id="tbox3">
                <div class="icon icon-wrench atribute-img">
                    <img src='/mediafiles/shield.svg' alt="Safe" width="100" height="100"/>
                </div>
                <div class="title">
                    <h2>Safe</h2>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    <div>
        <div id="wrapper3">
            <div id="portfolio" class="container">
    
                <div class="title">
                    <h1 id="experience"  class="byline">Experience</h1>
                </div>
    
                <div class="row ">
    
                    <div class="col column">
                      <div class="box">

                        <a href="http://localhost:8000/hero">
                            <img src='/mediafiles/logo_2mLetLB.svg' alt="Be The Hero" width="100" height="100"/>
                        </a>

                        <h3 class="job-title">Be The Hero</h3>
                        <p class="job-description">Application to connect NGOs and other institutions to people who are available to help.</p>
                        <a href="http://localhost:8000/hero" class="button button-small">More</a>
                      </div>
                    </div>

                    <div class="col column">
                        <div class="box">
  
                          <a href="http://localhost:8000/blog">
                              <img src='/mediafiles/blog.jpeg' alt="Blog" width="100" height="100"/>
                          </a>
  
                          <h3 class="job-title">Django Blog</h3>
                          <p class="job-description">A generic Django Blog Web App that receive Posts and Comments.</p>
                          <a href="http://localhost:8000/blog" class="button button-small">More</a>
                        </div>
                      </div>

                      <div class="col column">
                        <div class="box">
  
                          <a href="">
                              <img src='/mediafiles/safeplace.png' alt="Safe Place" width="100" height="100"/>
                          </a>
  
                          <h3 class="job-title">Safe place</h3>
                          <p class="job-description">A Web App developed to make shared environments safer in Covid-19 pandemic times.</p>
                          <a href="" class="button button-small">More</a>
                        </div>
                      </div>
                
                </div>
            </div>  
        </div>  
    </div>

    {% block footer %}

    <div class="wrapper4">
        <div id="footer" class="container">
            <div>
                <header class="title">
                    <h2>Get in touch</h2>
                    <span class="byline">Let's build something great together!</span> 
                </header>

			    <ul class="contact row">
				    <li class="col-md-3"><a href="#" class="icon icon-twitter"><img class="img-responsive contact-img"src="/mediafiles/github(1).svg" width="50px" height="50px" alt="linkedin link">
				    <li class="col-md-3" ><a href="#" class="icon icon-facebook"><img class="img-responsive contact-img"src="/mediafiles/gmail(1).svg" width="50px" height="50px" alt="github link"></a></li>
				    <li class="col-md-3"><a href="#" class="icon icon-dribbble"><img class="img-responsive contact-img"src="/mediafiles/linkedin(1).svg" width="50px" height="50px" alt="messager link"></a></li>
				    <li class="col-md-3"><a href="#" class="icon icon-tumblr"><img class="img-responsive contact-img"src="/mediafiles/whatsapp.svg" width="50px" height="50px" alt="whats app link"></a></li></a></li>
			    </ul>
		    </div>
	    </div>
    </div>

    <div id="copyright" class="container">
        <p>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>

    	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
    </div>

    {% endblock %}
</body>

</html> 